.country-select {
    display: flex;
    border: 1px solid grey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
}


.country-select__option {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 5px;
    border: none;
    background: none;
}

.country-select__option_hide {
    display: none;
}

.country-select__name {
    width: 50%;
}

.country-select__navigation {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 10px;
}

.country-select__image-flag {
    width: 20px;
}

.country-select__image-arrow-down {
    width: 15px;
}